extends ./layout/layout

block content
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="About us",  class='img-fluid')
      .col-md-7
        h1 #{page}
        blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, consectetur. Neque perspiciatis aliquam ad nostrum animi. Quod excepturi explicabo dignissimos dolor eos, nemo qui vero quo dolores magni, voluptatem exercitationem.

        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque eaque, voluptas iste atque, culpa fugit exercitationem in reprehenderit ut blanditiis alias tempora et rem at a corrupti laudantium repellat non?

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta non ipsam necessitatibus architecto repellendus consequatur maiores ullam, fugit veniam rerum? Nobis dolore labore ex praesentium velit accusantium. Nostrum, recusandae.
    
    .listado-iconos
      .container.mt-5.py-5.text-center
        .row
          .col-md-4
            img(src="img/icono_seguridad.svg", alt="security icon", class="img-fluid mb-4")
            h2.mb-4 Security
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis incidunt quasi nobis ipsam sapiente sunt nihil eaque soluta accusamus, harum nisi vitae libero placeat vero obcaecati modi repudiandae dicta? Voluptatum?
          .col-md-4
            img(src="img/icono_seguridad.svg", alt="destiny icon", class="img-fluid mb-4")
            h2.mb-4 Best destinations
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis incidunt quasi nobis ipsam sapiente sunt nihil eaque soluta accusamus, harum nisi vitae libero placeat vero obcaecati modi repudiandae dicta? Voluptatum?
          .col-md-4 
            img(src="img/icono_seguridad.svg", alt="prices icon", class="img-fluid mb-4")
            h2.mb-4 The Best Prices
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis incidunt quasi nobis ipsam sapiente sunt nihil eaque soluta accusamus, harum nisi vitae libero placeat vero obcaecati modi repudiandae dicta? Voluptatum?



            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem sit impedit dolor. Qui facilis eius illo, tempore accusamus porro cum at ex officia sint dolores quo pariatur consectetur, fugiat eum.