footer.container.py-5
  .row
    .col-md-6
      nav.nav.footer.justify-content-center.justify-content-md-start
        a.nav-link(href="/travels") Travels
        a.nav-link(href="/testimonials") Testimonials
        a.nav-link(href="/aboutus") About Us
    .col
      p.copyright.text-center.text-md-right
        | All Rights Reserved  
        span #{currentYear}